<!DOCTYPE html>
<html>
<head>
    @*Provides Build String for JS/Angular. Order is important*@
    @Html.Partial("~/Views/Shared/AngularDependancies.cshtml")
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Application Configuration Manager</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/codemirror")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header noncollapsed">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                </button>
                @Html.ActionLink("Application Configuration", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Sign Out", "Logout", "Home", new { area = "" }, new { @class = "navbar-logout" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("AppConfig", "Index", "Config")</li>
                    <li>@Html.ActionLink("Machine", "Index", "Machine")</li>
                    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                    <li>@Html.ActionLink("Powershell", "Index", "Powershell")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Marcom Central</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>