<script src="~/Scripts/codemirror-2.37/lib/codemirror.js"></script>
<script src="~/Scripts/codemirror-2.37/mode/powershell.js" type="text/javascript"></script>
<link href="~/Scripts/codemirror-2.37/lib/codemirror.css" rel="stylesheet" type="text/css" />
<link href="~/Scripts/codemirror-2.37/theme/default.css" rel="stylesheet" type="text/css" />

@model ViewModel.PowershellScript

@{
    ViewBag.Title = "DevOps Powershell";
}

<h2>Powershell Scripts</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <hr />
        @*
            <div class="form-group">
                @Html.LabelFor(model => model.MachineId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MachineId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MachineId, "", new { @class = "text-danger" })
                </div>
            </div>
        *@

        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownList("scriptList", String.Empty)
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <textarea id="code" name="code" class="CodeMirror">
                    @HttpUtility.HtmlDecode(ViewBag.scriptText)
                </textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Execute" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts
{
    <script type="text/javascript">
        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            mode: {
                name: "powershell",
                version: 2,
                singleLineStringErrors: false
            },
            lineNumbers: true,
            indentUnit: 4,
            tabMode: "shift",
            matchBrackets: true
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
