
@{
    ViewBag.Title = "Machine Editor";
}

@Scripts.Render("~/bundles/app")

<script src="@Url.Content("~/Scripts/angular-ui/ui-bootstrap-tpls.js")"></script>
<script src="@Url.Content("~/Scripts/ui-grid.js")"></script>
<script src="@Url.Content("~/Scripts/ng-file-upload.js")"></script>
<script src="@Url.Content("~/Scripts/ng-file-upload-shim.js")"></script>
<script src="@Url.Content("~/AngularJS/Services/GridRowEditService.js")"></script>
<script src="@Url.Content("~/AngularJS/app.js")"></script>
<script src="@Url.Content("~/AngularJS/Controllers/MachineController.js")"></script>

<h2>Machine Editor</h2>

@Html.AntiForgeryToken()
<div ng-app="app">
    <div ng-controller="MachineController as vm">
        <div class="control-group">
            <select ng-model="selectedEnvironment" ng-options="x.name for x in environments" ng-change="updateEnvironment()">
                <option value="" style="color:red">Environment</option>
            </select>
            <select ng-model="selectedApplication" ng-options="a.name for a in applications" ng-change="updateApplication()">
                <option value="" style="color:red">Application</option>
            </select>
            <select ng-model="selectedComponent" ng-options="c.name for c in components" ng-change="updateComponent()">
                <option value="" style="color:red">Component</option>
            </select>

            <input type="button" class="btn btn-small" ng-click="addMachine()" value="Add / Edit Machine" />
            <div class="float:right">Api Url: <a href="{{ApiBaseUrlHelp}}" target="_blank">{{ApiBaseUrl}}</a></div>

            <div id="machineGrid" class="gridStyle" ui-grid="gridOptions"
                 ui-grid-grouping ui-grid-exporter ui-grid-move-columns
                 ui-grid-resize-columns ui-grid-edit ui-grid-row-edit
                 ui-grid-pagination ui-grid-cellNav ui-grid-expandable></div>
        </div>
    </div>
</div>